version: '3.1'
services:
  orthanc:
    container_name: "orthanc"
    image: jodogne/orthanc-plugins:1.9.6
    command: /run/secrets/
    ports:
      - 4242:4242
      - 8042:8042
    secrets:
      - orthanc.json
    links:
      - postgresql
    volumes:
        - ./orthanc/db/:/var/lib/orthanc/db/
    environment:
      - ORTHANC_NAME=RT PACS
      - ORTHANC_DB_NAME=${DBMS_DATABASE}
      - ORTHANC_DB_USER=${DBMS_USERNAME}
      - ORTHANC_DB_PASS=${DBMS_PASSWORD}
  postgresql:
    container_name: "postgresql"
    image: postgres
    restart: always
    environment:
      - POSTGRES_DB=${DBMS_DATABASE}
      - POSTGRES_USER=${DBMS_USERNAME}
      - POSTGRES_PASSWORD=${DBMS_PASSWORD}
    volumes:
        - ./postgresql/:/var/lib/postgresql/data/
    ports:
        - 5432:5432
secrets:
  orthanc.json:
    file: orthanc/orthanc.json